<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar class="custom-header ion-padding-end ion-padding-start" color="primary">
    <ion-buttons class="ion-margin-top" slot="start">
      <ion-back-button class="custom" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <h4 class="ion-margin ion-padding-top" style="font-weight: bold;">{{contactData.name}}</h4>
    <!-- <ion-searchbar class="custom ion-margin-top" (ionInput)="handleInput($event)"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>
