.coverPhoto{
  background-image: url('/assets/tradmill.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:100% 100% ;
  height: 50vh;
}
