<ion-content style="height: 300px" fullscreen="true">
  <ion-list>
    <form [formGroup]="changePassword" (ngSubmit)="submit()">
      <ion-item>
        <ion-label style="color: #979a97" position="floating">Old Password</ion-label>
        <ion-input type="password" name="oldPassword"  formControlName="oldPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="color: #979a97" position="floating">New Password</ion-label>
        <ion-input type="password" name="newPassword"   formControlName="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="color: #979a97" position="floating">Repeat Password</ion-label>
        <ion-input type="password" name="repeatedPassword"   formControlName="repeatedPassword"></ion-input>
      </ion-item>

      <ion-buttons class="ion-margin-vertical">
        <ion-button class="ion-padding" slot="end" type="submit" fill="solid" color="primary">Submit</ion-button>
      </ion-buttons>
    </form>

  </ion-list>

</ion-content>
