.custom-header{
    background-color: #FFD41D;
    min-height: 180px;
    border-radius: 0px 0px 0px 80px;
}

.custom-login-form-container{
    background-color: rgb(255, 255, 255);
    min-height: 245px ;
    width: 86vw;
    border-radius: 50px;
    position: absolute;
    top: 7vh;
    left: 7%;
}

.custom-background-color{
    background-color: #9f45cb;
}

.custom-content-container{
    position: relative;
    top:30vh;

}