.custom-ion-card{
    border-radius: 50px 0 0 50px;
    background-color: white; 
    margin-right:0;
}

.custom-p-tag{
    font-size: small;
    padding: 0;
    margin: 0;
}

.custom-card-name{
    font-weight: bold;
    color: black;
   
}

.custom-edit-ion-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}